**/Capstone/obj
**/Capstone/Library
**/Capstone/.vs
**/Capstone/Temp
Capstone/Library/ScriptAssemblies/Assembly-CSharp.dll
Capstone/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Capstone/Library/assetDatabase3
Capstone/Library/metadata/00/00000000000000004000000000000000
Capstone/Library/metadata/00/0000000000000000b000000000000000
Capstone/Library/metadata/52/52a206b72a8f4f749c28d8b18b42dd19
*.csproj
*.csproj
*.csproj
*.meta
